{% extends "templatefile.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Post</h2>
    <form method="POST" class="post-form">
        <div class="input-group">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="{{ post.title }}" required>
        </div>
        <div class="input-group">
            <label for="content">Content:</label>
            <textarea name="content" id="content" required>{{ post.content }}</textarea>
        </div>
        <button type="submit" class="button">Save Changes</button>
        <button id="cancel" href="{{ url_for('homepage.home') }}" class="button" >Cancel</button>
    </form>
</div>
{% endblock %}
